:root {
    --maincolor: #FEE3EC;
    --secondcolor: #F9C5D5; 
    --thirdcolor: #F999B7;
    --fourthcolor: #F2789F;
    --fifthcolor: #A624DB;
}

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}
body {
    background-color: var(--maincolor);
    font-family: "Lato", sans-serif;
}

#banner {
    width: 100%;
}

.introduction {
    text-align: center;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--secondcolor);
    
}

.toflex {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.questioncontent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.yesorno {
    background-color: var(--thirdcolor);
    border-radius: 6px;
    border: 1px solid var(--fourthcolor);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    padding: 4px;
    width: 168px;
    height: 30px;
}

.yesorno:hover {
    background-color: var(--fourthcolor);
    cursor: pointer;
}

/* .clicked {
    background-color: var(--fourthcolor);
} */

.firstletter {
    background-color: var(--maincolor);
    color: var(--fourthcolor);
    height: 20px;
    width: 20px;
    border-radius: 1px;
    text-align: center;
    margin-left: 5px;
}

.answer {
    color: var(--maincolor)
}

.datas {
    background-color: var(--secondcolor);
    margin: 20px 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name, #email {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    font-style: italic;
}

.submit {
    background-color: var(--fourthcolor);
    color: var(--maincolor);
    text-transform: uppercase;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 50px;
}

.submit:hover {
    background-color: var(--secondcolor);
    color: var(--fourthcolor);
    border: 2px solid var(--fourthcolor);
    cursor: pointer;
    
}

.results {
    margin: 20px 10px;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(180deg, var(--secondcolor) 0%, var(--thirdcolor) 35%, var(--fourthcolor) 100%);
    text-align: justify;
}

.results h2 {
    text-align: center;
}

@media only screen and (min-width: 930px) {
    * {
      font-size: 20px;
    }

    .submit {
        padding: 50px;
    }
   
    .firstletter {
        display: flex;
        align-items: center;
        justify-content: center;
  }

  .introduction {
    margin: 50px 10px;
    
}

.questions {
    width: 900px;
    margin: auto;
}

.datas {
    width: 75%;
    margin: 100px auto;